@import "attribute.scss";

@media only screen and (max-width: 768px) {
  .event-start-now {
    a {
      font-size: 14px;
      letter-spacing: 1.17px;
      padding: 14px 28.3px;
    }
  }

  .header-only-pc {
    height: 425px;
    background: {
      image: url("../images/rectangle.png");
      size: cover;
    }

    .header-top {
      padding: 29px 5.474% 0 0;

      .about-us {
        padding-right: 2.998%;
      }
    }

    .logo {
      img {
        width: 144px;
        height: 43px;
        margin-top: 49px;
      }
    }

    .three-icon-hd {
      margin-top: 40px;

      .one-content-hd {
        p, i {
          font-size: 24px;
        }
      }

      .icon-center {
        padding: 0 2.76% 0 4.1%;
      }
    }

    .short-text-hd {
      margin-top: -13px;

      p {
        font-size: 14px;
      }
    }
  }

  .container-fluid {
    > div:nth-child(2) {
      display: none;
    };

    > div:nth-child(4) {
      display: none;
    };

    > div:nth-child(7) {
      display: none;
    };

    > div:nth-child(9) {
      display: none;
    };

    > div:nth-child(9) {
      display: none;
    };

    > div:nth-child(12) {
      display: none;
    };

    > div:nth-child(3) {
      display: block;
    };

    > div:nth-child(5) {
      display: block;
    };

    > div:nth-child(8) {
      display: block;
    };

    > div:nth-child(10) {
      display: block;
    }

    > div:nth-child(13) {
      display: block;
    };
  }

  .td-ilearnt-mb {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
    padding: 50px 2.474%;

    .title-content {
      i, h3 {
        font-size: 36px;
      }
    }

    .image-content {
      width: 46.22%;
      img {
        width: 100%;
        height: 238px;
      }
    }

    .short-text-title {
      p {
        font-size: 13px;
        padding: 15px 0 10px 0;
      }
    }

    .para-content {
      p {
        font-size: 13px;
        line-height: 21px;
      }
    }

    a {
      margin-top: 30px;
    }
  }

  .lists-content {
    padding: 51.5px 2.474%;
  }

  .para-content-sm {
    height: 220px;

    .one-content-member { 
      align-items: center;
      margin-top: 0;

      p {
        line-height: 21px;
        font-size: 13px;
        letter-spacing: 0;
        height: 60px;
        width: 100%;
      }

      i {
        padding-bottom: 60px;
        margin-right: 12px;
      }
    }
  }

  .content-our-customer {
    background: {
      image: url("../images/oc-sm.png");
    }
    padding: 0 2.474%;

    .one-customer {
      padding: 0 3.06%;

      p {
        font-size: 13px;
        letter-spacing: -0.03px;
      }
    }

    .set-ti-more {
      padding: 0 44.3%;
    }
  }

  .footer {
    padding: 21px 1.474%;

    .brand-icon {
      i {
        color: $color-gr;
        font-size: 13px;
      }
    }
  }
}


@media only screen and (max-width: 576px) {
  .event-start-now {
    a {
      padding: 11.5px 28.3px;
      margin-top: 0;
    }
  }

  .header-only-pc {
    height: 266px;
    background: {
      image: url("../images/banner-mb.png");
      size: cover;
    }

    .header-top {
      font-size: 12px;
      font-weight: bold;
      padding: 15px 2.474% 0 0;

      a {
        height: 16px;
      }

      .about-us {
        padding-right: 2.998%;
      }
    }

    .logo {
      img {
        width: 96px;
        height: 29px;
        margin-top: 19px;
      }
    }

    .three-icon-hd {
      margin-top: 15px;

      .one-content-hd {
        p, i {
          font-size: 18px;
        }
      }

      .icon-center {
        padding: 0 2.76% 0 4.1%;
      }
    }

    .short-text-hd {
      margin-top: -13px;

      p {
        font-size: 9px;
      }
    }
  }

  .td-ilearnt-mb {
    .title-content {
      margin-top: -30px;
      i, h3 {
        font-size: 24px;
      }
    }

    .image-content {
      img {
        height: 308px;
      }
    }

    .para-content {
      p {
        margin-top: 20px;
      }
    }
  }

  .daily-report {
    .para-content {
      p {
        margin-top: 0;
      }
    }

    .event-start-now {
      a {
        margin-top: 20px;
      }
    }
  }

  .container-fluid {
    > div:nth-child(10) {
      display: none;
    };

    > div:nth-child(14) {
      display: none;
    };

    > div:nth-child(15) {
      display: block;
    };
  }

  .members {
    height: 760px;

    .image-content {
      img {
        margin-top: 20px;
      }
    }

    .event-start-now {
      a {
        margin-top: 20px;
      }
    }
  }

  .footer-xs {
    margin: 0 -15px;
    padding: 24px 1.3%;
    background-color: #39474e;

    a {
      color: #ffffff;
      text-decoration: none;
      font-size: 10px;
      letter-spacing: -0.02px;
    }

    p {
      color: $color-gr;
      font-size: 12px;
    }

    img {
      margin-bottom: 25px;
      height: 24px;
      width: 96px;
    }

    .brand {
      margin: 24px 0 0 0;

      i {
        margin-right: 21px;
        color: $color-gr;
        font-size: 13px;
      }

      p {
        margin: 0 0 0 277px;
        color: #ffffff;
        font-size: 10px;
      }
    }
  }

  .lists-content {
    padding: 55.5px 1.3%;
    align-items: flex-start;

    .one-content {
      padding: 0 8.98%;
    }
  }

  .content-our-customer {
    padding: 0 1.3%;

    .title-our-customer {
      p {
        font-size: 24px;
        margin: 0;
      }
    }

    .list-our-customer {
      .one-customer {
        padding: 0 5.73%;
      }
    }

    .detail-our-customer {
      i {
        font-size: 48px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}
