@import "attribute.scss";

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  font-size: 13px;
  width: 100%;
  overflow-x: hidden;
}

.header-only-pc {
  background: {
    image: url("../images/banner.png");
    size: contain;
    repeat: no-repeat;
    position: center center;
  }

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin: 0 -15px;
  height: 873px;
}

.header-top {
  height: 36px;
  padding: 41px 20.3125% 0 0;

  a {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }

  .about-us {
  padding-right: 1.98%;

    a {
      color: $color-br;
    }
  }

  .sign-in {
    a {
      border: solid 2px $color-gr;
      border-radius: 100px;
      padding: 9px 15px;
      color: $color-gr;
    }
  }
}

.logo {
  img {
    margin-top: 218px;
  }
}

.three-icon-hd {
  margin: 48px 30.46% 0 30.46%;
}

.icon-center {
  margin: 0 13.125% 0 14.375%;
}

.one-content-hd {
  i.icon-header {
    font-size: 48px;
  }

  p {
    font-size: 36px;
    font-weight: lighter;
  }
}

.short-text-hd {
  p {
    font-size: 18px;
    color: $color_br;
    letter-spacing: -0.03;
    font-style: italic;
  }
}

.event-start-now {
  a {
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2px;
    background-image: $color-grdien;
    border-radius: 100px;
    box-shadow: 1px 1px 2px #888888;
    font-size: 16px;
    letter-spacing: 1.33px;
    padding: 15.5px 47.6px;
  }
}



.title-content {
  color: #444444;

  i.size-icon-title {
    font-size: 2.25em;
    margin-right: 19px;
  }

  h3 {
    font: {
      weight: lighter;
      size: 3em;
    }
    letter-spacing: -0.09;
  }
}

.short-text-title {
  p {
    font-size: 0.729vw;
  }
}

.para-content {
  p {
    line-height: 24px;
    font-size: 0.677vw;
    color: $color_br;
  }
}

.content {
  width: 100vw;
  height: 571px;
  padding: 100px 20.3125%;
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);

  .image-content {
    img {
      width: 96%;
      height: 371px;
    }
  }
}

.lists-content {
  background-image: $color-grdien;
  height: 322px;
  padding: 0 20.1%;
}

.one-content {
  flex-direction: column;

  p {
    margin-top: 12px;
    font-size: 16px;
    letter-spacing: 1.33px;
  }
}

.lists-content {
  margin: 0 -15px;
}

.big-circle {
  height: 107px;
  width: 107px;
  border: solid 2px #ffffff;
  border-radius: 50%;

  i {
    font-size: 36px;
  }
}

.small-circle {
  height: 43px;
  width: 43px;
  background-color: #7cb342;
  border: solid 2px #ffffff;
  border-radius: 50%;
  margin-top: -25px;

  span {
    font-size: 24px;
  }
}

.one-content-member {
  margin-top: 2em;
  i {
    margin-right: 18px;
    font-size: 18px;
    color: $color-gr;
  }

  p {
    text: {
      align: justify;
      overflow: ellipsis;
    }
    font-size: 0.677vw;
    color: $color-br;
    overflow: hidden;
    height: 25px;
    align-items: center;
  }
}

.content-our-customer {
  height: 544px;
  margin: 0 -15px;
  background: {
    image: url("../images/rectangle3.png");
    cover: contain;
    size: 100% 100%;
    repeat: no-repeat;
  }

  .title-our-customer {
    p {
      font-size: 48px;
      letter-spacing: -0.09px;
    }
  }

  .detail-our-customer {
    opacity: 40%;
    i {
      font-size: 72px;
    }
  }

  .list-our-customer {
    > div:nth-child(4) {
      margin-top: -10px;
      > img {
        height: 100px;
        width: 99px;
      }
    };

    .one-customer {
      p {
        font-size: 0.677vw;
        width: 58px;
        margin: 0 auto;
        margin-top: 16px;
      }
    }
  }
}

.footer {
  height: 179px;
  background-color: #39474e;
  margin: 0 -15px;
  padding: 0 20.3125%;

  > div:nth-child(1) {
    > p {
      color: #ffffff;
      font-size: 10px;
    }
  };

  .al-content-footer {
    img {
      height: 29px;
      width: 96px;
      margin-bottom: 36px;
    }

    p {
      color: $color-gr;
      letter-spacing: -0.03px;
    }

    a {
      font-size: 10px;
      color: #ffffff;
      text-decoration: none;
    }

    .brand-icon {
      margin-top: 55px;

      i {
        color: $color-gr;
        padding: 0 19px;
        font-size: 13px;
      }
    }
  }
}
